<% include header %>

<div class="error container">
  <h1>We can't find it.</h1>
  <p>Here's some suggestions:</p>
  <ul>
    <li>If the repository isn't on Github or the latest changes haven't been pushed up, we won't be able to see them.</li>
    <li>There may not be a timecard in the default branch (by default, <code>master</code>) of this repository.</li>
    <li>To access private repos, user's must be logged in. Sign in with Github <a href="/login">here</a>.</li>
  </ul>
  <a href="/">or, go back home</a>
</div>

<% include footer %>
