<% include header %>

  <div class="error container">
    <h1>A slight problem...</h1>
    <%- msg %>
    <footer>
      <p>
        If you think there should be a repo here, try <a
        href="/auth/github">logging in here</a>.
      </p>
    </footer>
  </div>
  
<% include footer %>
