<% if (!user) { %>
  <a class="btn btn-success btn-xl btn-50 smooth" href="#learnmore">Learn More</a>
  <a class="btn btn-info btn-xl btn-50" href="/login">Sign in with Github</a>
  <small>It doesn't cost anything to get started, and you can cancel at any time.</small>
<% } else { %>
  <a class="btn btn-success btn-xl btn-50" href="/auth/logout">Logout <%= user.username %></a>
  <a class="btn btn-info btn-xl btn-50" href="/app">Let's get started</a>
<% } %>
