<% include header %>

<div class="container">
  <div class="hero clearfix">
    <img class="logo" src="/img/logo.svg" />
    <div class="text-body">
      <h1>Manage invoices without managing invoices.</h1>
      <p>More value propish stuff here</p>
      <a class="btn btn-primary" href="/oauth/redirect">Take a look</a>
    </div>
  </div>
</div>

<% include footer %>
