<% style = ab.bgColor || 'primary' %>
<% include header %>

<div class="features-group <%= ab.bgColor || 'primary' %>">
  <div class="features features-hero <%= ab.bgColor || 'primary' %>">
    <h1>Waltz makes</h1>
    <h2>beautiful version-controlled timesheets</h2>
    <h3>for freelance developers.</h3>

    <div class="features-getting-started-buttons">
      <% include get_started_buttons %>
    </div>

    <div class="sample-invoice">
      <!-- top section -->
      <div class="contact-info">
        <span class="name">John Smith</span>
        <span class="address">123 Oak Street</span>
        <span class="address-2">Syracuse, NY 13210</span>
      </div>
      <div class="project-info">
        <span class="project">
          <span class="prehead">Project</span>
          <span class="address">Matt's Bakery<br/><small>Website
          Redesign</small></span>
        </span>
        <span class="totals">
          <span class="prehead">Amount Due</span>
          <span class="pull-left">$874.00</span>
          <small class="pull-right">656 minutes</small>
        </span>
      </div>
      
      <div class="body">
        <span class="prehead">Breakdown</span>
          <span>
            <li class="disabled">
              Previous time
              <span class="right">50 minutes</span>
            </li>
          </span>
          <span>
            <li class="enabled">
              Tue Feb 16 2016
              <span class="right">
                18:47:30 to 18:52:20
              </span>
            </li>
            <li class="enabled">
              Thu Feb 18 2016
              <span class="right">
                12:13:50 to 12:17:10
              </span>
            </li>
            <li class="enabled">
              Sat Feb 20 2016
              <span class="right">
                12:25:42 to 12:38:54
              </span>
            </li>
            <li class="enabled">
              Sat Feb 21 2016
              <span class="right">
                12:25:42 to 12:38:54
              </span>
            </li>
            <li class="enabled">
              Sat Feb 21 2016
              <span class="right">
                12:25:42 to 12:38:54
              </span>
            </li>
            <li class="enabled">
              Sat Feb 21 2016
              <span class="right">
                12:30:26 to 22:38:10
              </span>
            </li>
          </span>
        <span class="total-cost">
          <span class="prehead tax">Tax</span>
          <span class="value tax">$30.00</span>
          <br/>
          <span class="prehead">Total</span>
          <span class="value">$874.00</span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="features-group white first-section">
  <a name="learnmore"></a>
  <div class="features feature-collapse spreadsheet-section">
    <div class="text">
      <h2>Manage time without spreadsheets</h2>
      <p>
        A spreadsheet can easily turn into an unmanageable behemoth that is a chore to
        use. Instead, Waltz will tell you how long you've worked and how much
        you've earned so you can spend less time managing and more time doing. 
      </p>
    </div>
    <div class="glyph glyph-invoice">
      <div class="spreadsheet">
        <table>
          <tr>
            <td>Paid for?</td>
            <td>Date</td>
            <td>Minutes</td>
            <td>Task</td>
          </tr>
          <tr>
            <td>Yes</td>
            <td>5/4/16</td>
            <td>20</td>
            <td>Fixing a bug</td>
          </tr>
          <tr>
            <td>No</td>
            <td>5/4/16</td>
            <td>50</td>
            <td>Coordinating with others</td>
          </tr>
          <tr>
            <td>No</td>
            <td>5/4/16</td>
            <td>150</td>
            <td>Writing some new code</td>
          </tr>
        </table>
      </div>
      <div class="invoice">
        <div class="invoice-header">
          <h3>Today</h3>
        </div>
        <ul class="invoice-items">
          <li style="width: 40%;" class="sm"></li>
          <li class="price"></li>
          <li style="width: 50%;" class="md"></li>
          <li class="price"></li>
          <li style="width: 80%;" class="lg"></li>
          <li class="price"></li>
          <li style="width: 40%;" class="sm"></li>
          <li class="price"></li>
          <li style="width: 60%;" class="md"></li>
          <li class="price"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="features feature-collapse versioned-section">
    <div class="text">
      <h2>Version controlled</h2>
      <p>
        Because timesheets are stored with your code, easily diff work times across branches to
        quickly determine the time spent on individual features.
      </p>
    </div>
    <div class="glyph glyph-versioned">
      <div class="timecard-state one">Today</div>
      <div class="timecard-state two">Yesterday</div>
      <div class="timecard-state three">Last Week</div>
    </div>
  </div>
  <div class="features feature-collapse owndata-section">
    <div class="text">
      <h2>Own your data</h2>
      <p>
        When your data is in your hands, you can ensure what should stay private will.
        Should you ever want to migrate data to another service, it's easily accessible
        and versioned along with your code.
      </p>
    </div>
    <div class="glyph glyph-owndata">
      <img src="/img/paw.svg" />
      <i class="fa fa-lock"></i>
    </div>
  </div>
</div>

<div class="features features-metrics">
  <a name="metrics"></a>
  <div class="text">
    <h1>Metrics that matter</h1>
    <p>
      Other than a simple way to manage time, Waltz also gives you insight into
      your work trends. When we give you data that easily summarizes the state of
      a project and its clients, you get a clearer view into who contributed, what
      has been completed, and when a task has been completed.
    </p>
  </div>
  
  <div class="right">
    <div class="chart-one">
      <canvas id="chart-one" width="500" height="400"></canvas>
    </div>
  </div>
</div>

<div class="features-group success flipped">
  <div class="features feature-collapse white">
    <div class="text full">
      <h1 class="text-center">Get started in 10 minutes.</h1>
      <% include get_started_buttons %>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js"></script>
<script type="text/javascript">
var ctx = document.getElementById("chart-one").getContext("2d");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        datasets: [{
            label: 'Hours of work',
            data: [5, 6, 8, 10, 7],
            backgroundColor: "#51c4c4",
            }, {
              label: 'Commits',
              data: [8, 10, 5, 15, 8],
              backgroundColor: "#995fd4",
            }]
    },
    options: {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


<% includeGSAP = true %>
<% include footer %>
