<% include header %>

<section class="hero container-fluid themes themes-hero">
  <h1>Waltz makes invoices easy.</h1>
  <object class="left" type="image/svg+xml" data="/img/reports/bold.svg">
    <img class="left" src="/img/reports/bold.svg" />
  </object>
  <object class="center" type="image/svg+xml" data="/img/reports/default.svg">
    <img class="center" src="/img/reports/default.svg" />
  </object>
  <object class="right" type="image/svg+xml" data="/img/reports/clean.svg">
    <img class="right" src="/img/reports/clean.svg" />
  </object>

  <script type="text/javascript">
    setInterval(function() {
      var items = ["#ff8080", "#a0e35d", "#5de3e3", "#a05de3"],
      item = items[Math.floor(Math.random()*items.length)];
      document
      .querySelector(".center")
      .getSVGDocument()
      .getElementById("primary")
      .style.fill = item;
    }, 10000);
  </script>
</section>
<div class="hero clearfix">
  <div class="container">
    <div class="text-body">
      <p>
        As simple as:
        <pre><code>
  $ npm install -g waltz
  $ waltz init --commit
  $ git push origin master
      </code></pre>
      </p>
      <% include get_started_buttons %>
    </div>
  </div>
</div>

<div class="master">
  <section class="container">
    <h2>The Problem</h2>
    <p>
      Invoices are a pain, especially for freelance developers. From calculating
      the amount of hours that you've put into a project, to creating the actual
      invoice and doing design work, most developers would rather do
      something else. Wouldn't you love to get rid of the process?
    </p>
  </section>
  <section class="container">
    <div class="section-img on-top">
      <img src="/img/clock.svg" class="timecard" />
    </div>
    <div class="section-text">
      <h2>The Solution</h2>
      <p>
        Easily track the time you work on a project with <code>waltz</code>. Before
        you start your work for the day, be sure to <code>waltz in</code>. Need to
        run a few errands or get out of the house? Run <code>waltz out</code>. Too
        lazy for that dance? Instead, run <code>waltz watch</code> to listen
        for changes and auto-clock you in or out. In addition to an invoice for
        the client, you also get work-time metrics for yourself.
      </p>
    </div>
    <div class="section-img on-right">
      <img src="/img/clock.svg" class="timecard" />
    </div>
  </section>
  <section class="container">
    <div class="section-img">
      <img src="/img/money.svg" class="money" />
    </div>
    <div class="section-text">
      <h2>Paycheck time</h2>
      <p>
        Time to get paid? Push up your latest changes, and visit
        <code>http://waltzapp.co/username/repo</code>. Don't like
        what you see? Open up <code>.timecard.json</code> within the project, and change
        <code>reportFormat</code> to any of <a
        href="//github.com/waltz-app/themes">our themes</a>, or make <a
        href="//github.com/waltz-app/docs/blob/master/make-a-theme.md">your own</a>. After pushing up your changes, take a look at your
        new invoice. Was that hard?
      </p>
    </div>
  </section>

  <!-- more features button -->
  <div class="more-features">
    <a class="btn btn-default btn-lg" href="/features">For more info, take a look at our features.</a>
  </div>
</div>

<% include footer %>
