<div class="features features-install">
  <h1>Get started in 10 minutes</h1>

  <% if (!user) { %>
    <a class="btn btn-next-step" href="/login">Try it for free</a>
  <% } else { %>
    <pre>
      $ npm install -g waltz
      $ waltz init --commit
      $ git push origin master
    </pre>
    <a class="btn btn-next-step" href="/app">Then, open the app.</a>
  <% } %>

  <small>
    Waltz currently only supports Linux and OSX. Before running, insure
    <a href="//nodejs.org">node</a> is installed.
  </small>
</div>
