<% include header %>
<div class="presskit">
  <h1>Press</h1>

  <div class="presskit presskit-story">
    <img src="/img/press.svg" />
    <h4>Waltz gives freelancers an easy way to create nice looking timesheets.</h4>
    <p>
      Waltz came
      about because I couldn't find an easy way to handle keeping track of my
      work time for all of my clients, and after talking with my peers, I
      decided to tackle the problem in an afternoon. The experiment worked
      so well I decided to develop what would soon become Waltz into its own
      product - what you see today.
    </p>
    <a
      class="btn btn-primary"
      href="mailto:rsg1egoman+waltzpress@gmail.com?subject=Waltz Press Inquiry"
    >Press Contact</a>
  </div>

  <!-- logos -->
  <div class="presskit presskit-assets">
    <h2>Logos</h2>
    <div class="asset">
      <a href="/img/logo.svg" class="thumbnail">
        <img src="/img/logo.svg" alt="Our Logo" />
      </a>
    </div>
    <div class="asset">
      <a href="/img/logo_grey.svg" class="thumbnail">
        <img src="/img/logo_grey.svg" alt="Grey Logo" />
      </a>
    </div>
    <small>The colored logo is preferred unless the logo is used on a background
    that clashes with the logo colors. In that case, use the grey logo.</small>
  </div>

  <div class="presskit presskit-founders">
    <h2>My Story</h2>
    <img src="/img/founder/ryan.png" />
    <p>
      I have been coding since age 8, involved in the startup world since
      I was 15, and have been freelancing on the side the whole time. I've won
      regional hackathons, built countless projects, and am an eagle scout. More
      about me at <a href="//rgaus.net">rgaus.net</a>.
    </p>
  </div>
</div>

<% include install_prompt %>
<% include footer %>
