<% include header %>

<section class="hero container-fluid themes themes-hero">
  <h1>Pricing</h1>
  <object class="left" type="image/svg+xml" data="/img/reports/bold.svg">
    <img class="left" src="/img/reports/bold.svg" />
  </object>
  <object class="center" type="image/svg+xml" data="/img/reports/default.svg">
    <img class="center" src="/img/reports/default.svg" />
  </object>
  <object class="right" type="image/svg+xml" data="/img/reports/clean.svg">
    <img class="right" src="/img/reports/clean.svg" />
  </object>
</section>
