<% include header %>

<section class="container pricing pricing-hero">
  <h1>Pricing</h1>
  <div class="price-list">
    <div class="price price-disco">
      <h1>Disco</h1>
      <ul>
        <li>1 private repo</li>
      </ul>
    </div>
    <div class="price price-jive">
      <h1>Jive</h1>
      <ul>
        <li>5 private repos</li>
      </ul>
    </div>
    <div class="price price-polka">
      <h1>Polka</h1>
      <ul>
        <li>10 private repos</li>
      </ul>
    </div>
  </div>
  <div class="price price-freestyle">
    <h1>Freestyle</h1>
    <p>Need more than the above? Contact us.</p>
  </div>
</section>
