<li class="list-group-item clearfix">
  <h3 class="pull-left">
    <%= repo.full_name %>
    <% if (repo.private) { %>
      <code>Private</code>
    <% } %>
  </h3>
  <% if (repo.timecard.name) { %>
    <a class="btn btn-primary pull-right" href="/<%= repo.full_name %>">Pick Me</a>
  <% } else { %>
    <a class="btn btn-primary pull-right" disabled>No timecard in repo</a>
  <% } %>
</li>
