
// the repo commit dialog
.repo-commit-node-avatar {
  width: 18px;
  float: left;
  margin-right: 1em;
}

.repo-commit-node-author {
  @extend small;
  display: block;
  color: $gray-light;
}

// the commitInsidegraph
$repo-commit-width: 24px;
$repo-commit-max-height: $repo-commit-width * 5;
.repo-commits {
  height: 100%;
  float: left;
  background: $gray-lighter;
  width: $repo-commit-width;
  margin-top: 37px;
  margin-left: -12px;

  &.repo-commits-disabled {
    opacity: 0.35;
  }
}

.repo-commit-node-handle {
  display: block;
  width: $repo-commit-width;
  height: 24px;
  color: $brand-primary;
  background: #efefef;
  margin-bottom: 1.2px;
  border-top: 8px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &.repo-commit-node-type-waltzinit {
    border-color: lighten($brand-success, 24%);
  }
  &.repo-commit-node-type-merge {
    border-color: lighten($brand-info, 24%);
  }

  &.repo-commit-node-type-more {
    border: 0px;
    color: $text-color;
    text-align: center;
  }

  // for really large `.repo-commit-node`s, limit their height and put a break
  // in the middle.
  $repo-commit-node-break-width: 36px;
  &.repo-commit-node-should-break {
    position: relative;
    height: 150px;
    .repo-commit-node-break {
      display: block;
      width: $repo-commit-node-break-width;
      height: 12px;

      // center it in the center of the block
      position: absolute;
      top: $repo-commit-max-height / 2 + 6px; 
      left: -($repo-commit-node-break-width - $repo-commit-width) / 3;
      background-image: url(/img/commits/squiggle.png);
      background-repeat: no-repeat;
    }
  }

  &:first-child {
    background-color: $brand-primary;
    border-bottom: 16px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid transparent;
  }
}
