.features {
  p, h1, h2, h3 {
    font-weight: lighter;
  }
}

// bold, intro text
.features.features-hero {
  @extend .container;
  background-color: $brand-primary;
  color: #fff;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    @media (min-width: $screen-sm-min) {
      font-size: 10rem;
    }
  }
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2.4rem;
    @media (min-width: $screen-sm-min) {
      font-size: 3.6rem;
    }
  }
  h3 {
    text-align: center;
    font-weight: normal;
    margin-top: 0em;
    font-size: 1.8rem;
    @media (min-width: $screen-sm-min) {
      font-size: 3.2rem;
    }
  }

  .sample-invoice {
    opacity: 1;
    box-shadow: 8px 8px rgba($gray, 0.25);
  }
}

.features-group {
  padding: 4rem 0px 0px 0px;

  &.white { background-color: #fff; }
  &.gray { background-color: $gray-lighter; }
  &.primary { background-color: $brand-primary; }

  .text {
    @include make-xs-column(12);
    @include make-md-column-push(6);
    @include make-md-column(6);
    font-size: 1.5em;
    margin-bottom: 2em;
    @media (min-width: $screen-md-min) {
      padding: 0em 2em;
      margin-bottom: 0em;
    }
  }
  .glyph {
    @include make-xs-column(12);
    @include make-md-column-pull(6);
    @include make-md-column(6);
  }

}

.glyph-invoice {

  .invoice {
    position: absolute;
    width: 100%;
    transform: translate3d(-500%, 0, 0);
    background-color: #fff;
  }

  .spreadsheet {
    position: absolute;
    width: 100%;
    table {
      width: 100%;
      height: 200px;
    }
    td {
      background-color: $gray-lighter;
      border: 2px solid #fff;
      padding: 0.5em;
    }
  }

  .invoice-header {
    background-color: $brand-danger;
    color: #fff;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
  }

  // each item
  .invoice-items {
    padding: 0em;
    width: 100%;
    li {
      width: 50%;
      background-color: $gray;
      height: 1em;
      margin: 0.8em;
      display: block;
      float: left;
    }

    li.price {
      width: 10%;
      float: right;
      color: $gray;
      &::before {
        content: "$";
        margin-left: -2em;
        margin-top: -0.2em;
        display: block;
      }
    }

    // color the larger bars
    li.sm, li.sm + .price {
      color: $brand-danger;
      background-color: $brand-danger;
    }
    li.md, li.md + .price {
      color: $brand-warning;
      background-color: $brand-warning;
    }
    li.lg, li.lg + .price {
      color: $brand-success;
      background-color: $brand-success;
    }
  }
}

.features.features-tools {
  @extend .container-fluid;
  background-color: $brand-success;
  color: #fff;

  // make the font-size / padding greater on bigger screens
  font-size: 1.2em;
  padding: 2em;
  @media (min-width: $screen-sm-min) {
    font-size: 1.5em;
    padding: 2em 4em;
  }

  .terminal {
    @include make-md-column-pull(6);
    @include make-md-column(6);
    @include make-xs-column(12);
    margin: 0px auto;
    list-style-type: none;
    padding: 1em;
    background-color: $gray-darker;
    font-family: $font-family-monospace;
    height: 2.6em;
    overflow: hidden;
    margin-top: 1em;

    li {
      color: $gray-lighter;

      // the space between commands
      &.command { margin-top: 1em; }
      &.command:first-child { margin-top: 0em; }

      // the "PS1"
      &.command::before {
        content: "/app $ ";
        color: $gray-light;
      }

      .tab {
        width: 3em;
        display: inline-block;
      }
    }
  }

  .text {
    @include make-xs-column(12);
    @include make-md-column-push(6);
    @include make-md-column(6);
    margin-bottom: 2em;
    @media (min-width: $screen-md-min) {
      padding: 0em 2em;
      margin-bottom: 0em;
    }
    h1 {
      font-size: 3.6rem;
    }
  }
}

.features.features-metrics {
  @extend .container-fluid;
  background-color: #fff;

  // make the font-size / padding greater on bigger screens
  font-size: 1.2em;
  padding: 2em;
  @media (min-width: $screen-sm-min) {
    font-size: 1.5em;
    padding: 2em 4em;
  }

  .right, .text {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  .chart-one {
    canvas {
      width: 100%;
      height: 800px;
    }
  }

  .img-tile {
    margin: 2em 0em;
    img {
      width: 100%;
    }
  }

  .text {
    @media (min-width: $screen-md-min) {
      padding: 0em 2em;
    }
    margin-bottom: 2em;
    h1 {
      font-size: 3.6rem;
    }
  }
}

.features.features-more {
  @extend .container-fluid;
  background: $brand-info;
  color: #fff;

  .subfeature {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    &:last-child {
      @include make-sm-column(12);
      @include make-md-column(4);
    }

    img {
      width: 100%;
    }
    .caption {
      font-size: 1.4em;
      @media (min-width: $screen-md-min) {
        margin-top: 220px;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 4.8rem;
    margin-top: 6.4rem;
  }
}

// the "collapsable" tab-esc feature organiser
.feature-collapse {
  @extend .container;
  margin-top: 3.2rem;
  padding-bottom: 4rem;

  // the tab nav container
  ul {
    @extend .nav;
    @extend .nav-tabs;
    @include make-md-column(5);
    border-bottom: 0px;

    // each nav item
    li {
      float: none;
      margin: 1.2rem;
      &.active {
        a, a:hover, a:active, a:focus {
          border: 1px solid transparent;
          background-color: $gray-lighter;
        }
      }

      // when in < md, give the element below some space
      &:last-child { margin-bottom: 1em; }

      p { color: $text-color; }
    }

  }

  .tab-content {
    @include make-md-column(7);
    .img-full { width: 100%; }
  }
}

.features.features-install {
  @extend .container;
  max-width: 480px;

  h1 {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 6.4rem;
  }

  // install instructions
  pre {
    margin-top: 3rem;
    padding-top: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  // "Then, sign in" or "Then, open the app" button
  .btn-next-step {
    @extend .btn-primary;
    @extend .btn-lg;
    @extend .btn-block;
    padding-bottom: 10px;
  }

  small { color: $gray-light; }
}

// a stand-alone feature
.feature {
  @extend .container;
  padding: 4.8rem;

  // which side for the test vs the image?
  &.feature-left {
    .content {
      @extend .pull-left;
    }
  }
  &.feature-right {
    .content {
      @extend .pull-right;
    }
  }

  // sidebar images
  img {
    width: 60%;
    margin: 0px auto;
    display: block;
    @include make-md-column(4);
  }

  // text next to image
  .content {
    @include make-xs-column(12);
    @include make-md-column(6);
    font-size: 2rem;
    &.content-large {
      @include make-md-column(8);
    }
  }
}

.features-getting-started-buttons {
  @extend .container;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.btn-50 + small {
  @include make-md-column(6);
  @include make-md-column-offset(6);
  color: #fff;
  text-align: center;
}
