.hero {
  @extend .jumbotron;
  margin-bottom: 0px;
  width: 100%;
  background: transparent;

  & > h1 {
    font-weight: lighter;
  }
}

.master {
  overflow-x: hidden;
  background: #fff;

  section.container {
    margin-top: 2em;
    margin-bottom: 4em;

    .section-text {
      @include make-md-column(8);
    }
    p {
      font-size: 1.4em;
    }

    .section-img {
      @include make-md-column(4);

      &.on-top { @media (min-width: $screen-md-min) { display: none; } }
      &.on-right {
        display: none;
        @media (min-width: $screen-md-min) { display: block; }
      }

      .money {
        @media (min-width: $screen-md-min) {
          margin-left: -360px;
        }
      }
      .timecard {
        @media (min-width: $screen-md-min) {
          margin-right: -360px;
        }
      }
    }

  }
}

.themes.themes-hero {
  overflow-y: hidden;

  h1 {
    text-align: center;
    margin-bottom: 2em;
  }

  img, object {
    position: relative;
    width: 33%;
    background: #fff;
    border: 3px solid $gray-lighter;

    &.left {
      float: left;
      opacity: 0.5;
    }
    &.right {
      float: right;
      opacity: 0.5;
    }
    &.center {
      position: absolute;
      width: 40%;
      left: 50%;
      z-index: 500;
      margin-left: -20%;
      margin-top: -20px;
    }
  }
}

.byline {
  text-align: center;
  margin-bottom: 20px;
}
