.loading {
  @include empty-pane;

  .click { cursor: pointer; }

  &.loading-sm {
    h1, i { font-size: 1.6em; margin-top: 0.5em; }
    p { font-size: 0.85em; }
  }
  &.loading-md {
    h1, i { font-size: 2em; margin-top: 0.5em; }
    p { font-size: 1em; }
  }
  &.loading-lg {
    h1, i { font-size: 2.4em; margin-top: 0.5em; }
    p { font-size: 1.2em; }
  }

  .spinner {
    background-image: url(/img/loading.svg);
    width: 150px;
    height: 50px;
    display: block;
    background-size: 150px 50px;
    margin: 0px auto;
  }
}
