.navbar {
  background: #fff;
  border-bottom: 2px solid $gray-lighter;
  a { color: $brand-primary-dark; }
  margin-bottom: 0px;

  .navbar-brand {
    position: relative;
    img {
      height: 36px;
      margin-top: -8px;
    }

    // headway badge
    #HW_badge_cont {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  .fa.fa-bars {
    font-size: 120%;
    color: $gray-dark;
  }
}
