.navbar {
  background: $gray-lighter;
  background: #fff;
  border-bottom: 2px solid $gray-lighter;
  a { color: $brand-primary; }

  .navbar-brand img {
    height: 36px;
    margin-top: -8px;
  }
}
