// 
// The Report page
//

.container-report {
  .report-header {
    background: #EEE;
    height: 96px;
    margin-top: 0px;
    position: relative;

    .logo {
      margin-left: 20px;
      height: 84px;
      float: left;
      position: absolute;
      bottom: -3px;
    }

    .report-header-inner {
      margin-bottom: 0px;
      padding: 20px;
      @extend .container;

      h1 {
        font-size: 1.8rem;
        .ref {
          &:before { content: "@ "; }
          color: $gray-light;
          margin-right: 0.25em;
        }

        .repo-badge {
          float: right;
          cursor: pointer;
          .text { margin-top: -1em; }
          .popover {
            cursor: text;
            font-size: 0.6em;
          }
        }
      }
    }
  }

  .body {
    @extend .container;
  }
}
