
// the title for a repo
@mixin repo-title($size: 1.6em) {
  font-size: $size;
  .repo-name {
    font-weight: bold;
  }
}

.repos {
  @extend .list-group;

  .repos-controls {
    @extend .clearfix;
    margin: 1em 0em;
    height: 1.8em;

    .repos-label {
      @extend .pull-left;
      color: $gray-light;
      margin-top: 0.35em;
    }
  }
}

.repo {
  @extend .list-group-item;
  cursor: pointer;

  &.repo-selected {
    background: $select-color;
  }

  // private repo badge
  .repo-lock { display: none; }
  &.repo-private {
    .repo-lock {
      display: inline-block;
      color: $private-color-dark;
      margin-left: 0.4em;
    }
  }

  h1 {
    @include repo-title;
  }
}

.repo-details {
  position: absolute;
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  height: 100vh;

  h1 {
    @include repo-title(2em);
    z-index: 1000;
  }
  .repo-details-badge {
    margin-left: 0.5em;
  }

  // the repo details container
  .repo-details-embed-container {
    position: absolute;
    top: 5em;
    bottom: 0em;
    left: 0em;
    right: 0em;
  }
  .repo-details-embed {
    position: absolute;
    border: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

}

.repo-details.repo-details-import {
}
