.sample-invoice {
  @extend .container;
  max-width: 1000px;
  color: #333;
  height: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  cursor: default;
  background: #fff;
  padding: 64px 12px 32px 12px;

  .header {
    margin-bottom: 0.8em;
    color: #fff;
    text-align: center;
    width: 400px;
  }
  .prehead {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.6em;
    display: inline-block;
  }

  .contact-info {
    @include make-md-column(8);
    height: 10em;

    span {
      white-space: nowrap;
      display: block;
    }
  }

  // the project name, tagline, and
  .project-info {
    @include make-md-column(4);
    height: 10em;

    span {
      white-space: nowrap;
      display: block;
    }

    .project {
      padding: 0.5em;
    }

    .totals {
      @include clearfix;
      padding: 0.5em;
      color: #fff;
      background: #6AC15F;

      // amount of minutes
      small {
        margin-top: 0.425em;
        &:before { content: "("; }
        &:after { content: ")"; }
      }
    }
  }

  .total-cost {
    @include make-md-column(4);
    @include make-md-column-offset(8);
    height: 10em;

    span {
      white-space: nowrap;
      display: block;
    }

    .project {
      padding: 0.5em;
    }

    .totals {
      padding: 0.5em;
      color: #fff;
      background: #6AC15F;
    }
  }

  .body {
    padding-left: 1.2em;
    @include make-md-column(12);
  }
  li {
    list-style-type: none;
  }
  .header a, .header p {
    color: white;
  }
  .right {
    float: right;
  }
  li.enabled {
    // background: $state-success-bg;
    padding: 6px 16px;
  }
  li.disabled {
    padding: 6px 16px;
    color: $gray-light;
  }
  .totaltime {
    padding: 6px 16px;
    width: 100%;
    display: block;
    // background: $state-info-bg;
  }
}

// bold, intro text
.sample-invoice-header {
  @extend .container;
  margin-bottom: 2em;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 8rem;
  }
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 0em;
  }
  h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
    margin-top: 0em;
    color: $gray-light;
  }
}
