.sample-invoice {
  @extend .container;
  max-width: 1000px;
  color: #333;
  height: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  cursor: default;
  background: #fff;
  padding: 84px 16px 32px 16px;

  .header {
    margin-bottom: 0.8em;
    color: #fff;
    text-align: center;
    width: 400px;
  }
  .prehead {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.6em;
    display: inline-block;
  }

  // the contact info section on the left top
  .contact-info {
    @include make-md-column(8);
    height: 10em;

    span {
      white-space: nowrap;
      display: block;
    }
  }

  // the project name, tagline, and amount due on the right top
  .project-info {
    @include make-md-column(4);
    height: 10em;

    span {
      white-space: nowrap;
      display: block;
    }

    .project {
      padding: 0.5em;
    }

    .totals {
      @include clearfix;
      padding: 1em;
      color: #fff;
      margin-top: 0.8em;

      // amount of minutes
      small {
        margin-top: 0.425em;
        &:before { content: "("; }
        &:after { content: ")"; }
      }
    }
  }

  // bottom section with tax and total
  .total-cost {
    @include make-xs-column(12);
    @include make-md-column(4);
    @include make-md-column-offset(8);
    height: 10em;
    border-top: 4px solid $text-color;
    margin-top: 2em;
    padding: 1em 1em 0em 1em;

    span.tax { color: $gray-light; }

    span.value {
      white-space: nowrap;
      display: inline;
      @extend .pull-right;
    }

    span.prehead {
      white-space: nowrap;
      display: inline;
      margin-right: 1em;
    }
  }

  .body {
    @include make-md-column(12);
    padding-left: 1.2em;
    margin-top: 2em;
  }
  li {
    list-style-type: none;
  }
  .header a, .header p {
    color: white;
  }
  .right {
    float: right;
  }
  li.enabled {
    // background: $state-success-bg;
    padding: 6px 16px;
  }
  li.disabled {
    padding: 6px 16px;
    color: $gray-light;
  }
  .totaltime {
    padding: 6px 16px;
    width: 100%;
    display: block;
    // background: $state-info-bg;
  }
}
