@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import "bootstrap";
@import "font-awesome/font-awesome.min.css";

.form-control {
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

// some colors
$private-color: #F8EFC5;
$private-color-dark: darken(#F8EFC5, 20%);
$select-color: #E4FFFF;

@import "button";
@import "home";
@import "report";
@import "error";
@import "ghbutton";

@import "nav";
@import "repository";
@import "timedelta";

a {
  color: #00B7FF;
}

